<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button class="botones-estrechos" fill="solid" color="tertiary">
        <ion-label class="tituloGrande3">1234546</ion-label>
        <ion-icon slot="start" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <!-- Las cards -->
  <ion-card class="cartasMenu">
    <img src="https://i.pinimg.com/564x/c0/60/16/c06016d96716085fde8447a76914c03c.jpg" alt="Card Image 1">
    <ion-card-header>
      <ion-card-title class="tituloGrande4">PLAY GAME</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="https://i.pinimg.com/564x/c0/60/16/c06016d96716085fde8447a76914c03c.jpg" alt="Card Image 1">
    <ion-card-header>
      <ion-card-title class="tituloGrande4">PLAY GAME</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="https://i.pinimg.com/564x/c0/60/16/c06016d96716085fde8447a76914c03c.jpg" alt="Card Image 1">
    <ion-card-header>
      <ion-card-title class="tituloGrande4">PLAY GAME</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- Añadir mas aqui -->
</ion-content>