


$color-elegant-grey: #333333;
$color-white: #ffffff; 


/* Set the content to occupy the full height of the screen */
ion-content[fullscreen] {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

/* Center the content horizontally and vertically */
.ion-align-items-center {
  align-items: center;
}

.ion-justify-content-center {
  justify-content: center;
}

/* Adjust the size of the container based on your design preferences */
#lottie-container {
  width: 200px;
  height: 200px;
  margin-top: 17rem;
  margin-left: 3rem;
  
}


.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .btn-chest {
      font-family: var(--font-nunito);
      font-weight: 200;
      text-transform: uppercase;
      font-size: 0.5rem;
      color: $color-white;
      color: black;
    }

    .custom-button {
      background-color: red !important;
      color: #fff;
      border-radius: 5px;
      font-family: var(--font-nunito);
      font-weight: 200;
      text-transform: uppercase;
      font-size: 0.5rem;
    }
}

