<ion-content  scroll-y="true">

    <ion-grid class="full-height-container ion-align-items-center ion-justify-content-center">

        <ion-row>
            <ion-col class="ion-text-center">
              <h1 class="tituloGrande">My settings</h1>
            </ion-col>
          </ion-row>


          <p>Change language</p>
          <p>Switch dark mode- light mode</p>
          <p>Change username && password</p>  
      </ion-grid>




      <ion-row>
        <ion-col cexpand="block" class="ion-text-center">
          <ion-button class="botones-estrechos" expand="full" type="submit">Appy Changes</ion-button>
        </ion-col>
      </ion-row>

</ion-content>
