<ion-content>
  <ion-header>
    <ion-toolbar>
      <!-- <ion-buttons (click)="goToLogin()" slot="start">
        <ion-button fill="outline" color="primary">
          <ion-icon name="newspaper-outline"></ion-icon>
          Menu
        </ion-button>
        <ion-title class="ion-text-center">Nombre Usuario</ion-title>
      </ion-buttons>

      <ion-button>
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
        <ion-badge color="danger">3</ion-badge>
      </ion-button> -->
    </ion-toolbar>
  </ion-header>
  <ion-list>

    <ion-card (click)="goToGallery()">
      <ion-card-content>
        <ion-icon name="images"></ion-icon>
        <h2>Galeria</h2>
      </ion-card-content>
    </ion-card>

    <ion-card (click)="goToShop()">
      <ion-card-content>
        <ion-icon name="cart"></ion-icon>
        <h2>Tienda</h2>
      </ion-card-content>
    </ion-card>

    <ion-card (click)="goToMinigame()">
      <ion-card-content>
        <ion-icon name="game-controller"></ion-icon>
        <h2>Minijuego</h2>
      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>
