
<ion-content>
  <div class="flexcenter">
    <ion-card>
      <ion-card-header>
        <!-- <ion-card-title>DAVID APP</ion-card-title> -->
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-input label="Nombre Completo" placeholder="Dime como te llamas"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Correo Electronico" type="email" placeholder="placeholder@gmail.com"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Numero de telefono" type="number" placeholder="000 00 00 00"></ion-input>
        </ion-item>
        <ion-button size="small" color="warning" fill="outline" expand="block">Me olvide de la clave</ion-button>
        <ion-button (click)="goToStartMenu()" size="large" expand="block">LOGIN</ion-button>
        <ion-button (click)="goToRegistry()" color="success" fill="outline" expand="block">Registrarse</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
