ion-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field-centered {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  color: #2c3e50; /* Color del texto */
  text-align: center;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
}

.login-button {
  --background: #d32f2f; /* Color de fondo deseado */
  --color: #ffffff; /* Color del texto en el botón */
  --border-radius: 20px;
  margin-top: 20px;
}

.register-button {
  --background: #d32f2f; /* Color de fondo deseado */
  --color: #ffffff; /* Color del texto en el botón */
  --border-radius: 20px;
  margin-top: 10px;
}