<ion-content class="app-background">
  <div class="flexcenter">
    <ion-card class="login-card">
      <ion-card-header class="login-header">
        <ion-card-title class="app-title">MyApp</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-input placeholder="Nombre de usuario" class="input-field-centered"></ion-input>
        <ion-input type="email" placeholder="Correo electrónico" class="input-field-centered"></ion-input>

        <app-button button-role="login" [textKey]="'Iniciar sesión'" (click)="login()" class="login-button"></app-button>
        <app-button button-role="register" [textKey]="'Registrarse'" (click)="signUp()" class="register-button"></app-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
