<ion-content class="contentPantallasRegistro" scroll-y="true">
  <div class="invisible-header"></div>
  <ion-grid class="full-height-container ion-align-items-center ion-justify-content-center">
   

    <!-- Cajas de alertas -->
    <ion-row>
      <ion-col cexpand="block" class="ion-text-center">
        <div class="botones-alertas" fill="clear">
          <label class="tituloGrande3">There has been an error please try again</label>
        </div>
      </ion-col>
    </ion-row>

    <!-- Botones -->
    <ion-row>
      <ion-col cexpand="block" class="ion-text-center">
        <ion-button class="botones-estrechos" expand="full" >Continue</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>