<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="register-card">
    <ion-item class="input-item">
      <ion-label position="floating" class="input-label">Correo Electrónico</ion-label>
      <ion-input type="email" placeholder="placeholder@gmail.com" class="input-field"></ion-input>
    </ion-item>
  </ion-card>
  <ion-card class="register-card">
    <ion-item class="input-item">
      <ion-label position="floating" class="input-label">Contraseña</ion-label>
      <ion-input type="password" placeholder="" class="input-field"></ion-input>
    </ion-item>
    <ion-item class="input-item">
      <ion-label position="floating" class="input-label">Confirma tu contraseña</ion-label>
      <ion-input type="password" placeholder="" class="input-field"></ion-input>
    </ion-item>
  </ion-card>
  <ion-card class="register-card">
    <ion-item class="input-item">
      <ion-label position="floating" class="input-label">Número de Teléfono</ion-label>
      <ion-input type="tel" placeholder="000 00 00 00" class="input-field"></ion-input>
    </ion-item>
  </ion-card>
  <ion-button (click)="goToLogin()" expand="full" class="register-button">REGISTRARSE</ion-button>
</ion-content>