<ion-toolbar>
  <ion-button (click)="goToStartMenu()" fill="clear">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Atras
  </ion-button>
  <ion-title> Fetchear fotos</ion-title>
</ion-toolbar>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let image of images">
      <ion-thumbnail slot="start">
        <img [src]="image.url" alt="Image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ image.title }}</h2>
        <p>{{ image.albumId }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
