
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "./theme/variables.scss";


.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

  
  .small-subtitle {
    font-size: 18px;
    color: rgb(199, 199, 199);
  }
  
  
  .custom-content ion-item {
    margin-bottom: 10px; /* espacio entre cajas de input */
  }
  
  ion-button {
    margin-top: 20px; /* espacio entre cajas de input y el boton */
  }
  
  .cajas-estrechas{
      max-width: 90%; /* modificar anchura */
    margin-left: auto; 
    margin-right: auto;
    --background: #444444;
  }
  
  .botones-estrechos{
      max-width: 90%; /* modificar anchura */
    margin-left: auto; 
    margin-right: auto;
    --background: #7F60FF;
  }
  

  .contentPantallasRegistro {
    --offset-bottom: 0;
    --ion-background-color: #232323;
  }
  
  .full-height-container {
    height: calc(100% - var(--offset-bottom, 0px) - var(--ion-safe-area-top));
  }
  

  /* big-title-one */
  .tituloGrande {
    font-size: 58px;
    font-weight: bold;
  }
  
    /* big-title-two */
  .tituloGrande2 {
    font-size: 46px; /* un pelin mas pequeño que el 1 */
    font-weight: bold;
  }
  
     /* big-title-three */
  .tituloGrande3 {
    font-size: 26px; /* un pelin mas pequeño que el 2 */
    font-weight: bold;
  }
  
       /* big-title-four */
  .tituloGrande4 {
    font-size: 40px; /* para los titulos de las cards */
    font-weight: bold;
    text-align: center;
    color: white;
  }
  
  .textoPeque {
    font-size: 16px;
    color: gray;
  }
  
  .custom-content ion-item {
    margin-bottom: 10px; /* espacio entre cajas de input */
  }
  
  ion-button {
    margin-top: 20px; /* espacio entre cajas de input y el boton */
  }


  .cajas-estrechas {
    max-width: 90%; /* modificar anchura */
    margin-left: auto;
    margin-right: auto;
    --background: #444444;
  }
  
  .botones-estrechos {
    max-width: 90%; /* modificar anchura */
    margin-left: auto;
    margin-right: auto;
    --background: #7f60ff;
  }
  
  .botones-estrechos2 { /* version para botones de cancelar */
    max-width: 90%; /* modificar anchura */
    margin-left: auto;
    margin-right: auto;
    --border-style: solid;
    --border-width: 2px;
    --border-radius: 0;
    --border-color: #ff0000
    
  }
  .botones-alertas { /* version para botones de cancelar */
    margin-left: 15px;
    margin-right: 15px;
    border: 2px solid #7f60ff; 
    background-color: transparent;
    color: white;
    padding: 50px;
    
  }
  
  .cartasMenu{
    --background: #7f60ff;
    --color: #9efff0;
    margin-bottom: 50px;
    border-radius: 15px
  
  }