<!-- 
  <ion-header>
  <ion-toolbar class="settings">
    <ion-buttons slot="start">
      <ion-icon name="user"></ion-icon>
    </ion-buttons>


  </ion-toolbar>

</ion-header>

<ion-content>


</ion-content> -->





<!-- <ion-buttons slot="end">
  <ion-select [(ngModel)]="selectedLanguage" (ionChange)="changeLanguage()">
    <ion-select-option class="lang-select" value="en">English</ion-select-option>
    <ion-select-option class="lang-select" value="es">Spanish</ion-select-option>
  </ion-select>

</ion-buttons> -->


