
  <ion-header>
  <ion-toolbar class="settings">
    <ion-buttons slot="start">
      <ion-icon name="user"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-select [(ngModel)]="selectedLanguage" (ionChange)="changeLanguage()">
        <ion-select-option class="lang-select" value="en">English</ion-select-option>
        <ion-select-option class="lang-select" value="es">Spanish</ion-select-option>
      </ion-select>

      <ion-button fill="clear" (click)="openSettings()">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- Navigation Toolbar -->
  <ion-toolbar class="navigation">
    <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="gallery" class="btn-header">
        Gallery
      </ion-segment-button>
      <ion-segment-button value="shop" class="btn-header">
        Shop
      </ion-segment-button>
      <ion-segment-button value="minigame" class="btn-header">
        Minigame
      </ion-segment-button>
      <ion-segment-button value="loot-box" class="btn-header">
        Loot-Box
      </ion-segment-button>
      <ion-segment-button value="registry"  class="btn-header">
        Registry
      </ion-segment-button>
      <ion-segment-button  class="btn-header">
        Y otra
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

